.card {
  margin-top: 1em;
}

#title {
  background: #021f54;
  color: white;
}

#isOver {
  background: lightgray;
}

.flex-grow-1 {
  margin-left: 0.2em;
}

.flex-grow-2 {
  margin-left: 0.2em;
}

.btn-sm{
  background: darkgreen;
  color: white;
  indent-edge-reset: border-edge;
}

.btn-group{
  margin-bottom: 0.5em;
  float: left;
}

.btn-success{
  margin-bottom: 0.3em;
}
.btn-outline-success{
  margin-bottom: 0.3em;
}

.btn-primary {
  background: #021f54;
  color: white;
  border: #021F54;
}


