
<p>A demonstration component to embed the stage plan within</p>

<!--<p>Try to display stage plan with Id: {{id}} from actId: {{actId}} in mode: {{mode}}</p>-->


<!--app-stage-plan-single-generic *ngIf="mode === 'DISPLAY'" [id]="id"></app-stage-plan-single-generic-->

<!--<app-stage-plan-single-specific [id]="1" [actId]="actId"></app-stage-plan-single-specific>-->

<!--app-stage-plan-single-price-config [id]="1"></app-stage-plan-single-price-config-->

<!--app-stage-plan-single-generic [id]="3"></app-stage-plan-single-generic-->

<!--<app-stage-plan-single-specific></app-stage-plan-single-specific>-->

<!--
<div class="stage-heading">
  <h1 class="display-3">Choose your tickets</h1>
  <div>
    <div class="display-5">Event 3</div>
    <div class="display-5">15.06.2023</div>
    <div class="display-5">18:00 - 20:00</div>
  </div>
</div>

<div class="stage-plan-and-legend">
  <div></div>
  <div class="seating-plan">
    <div class="seat-row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      3
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
    </div>
    <div class="seat-row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      2
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
    </div>
    <div class="seat-row">
      <div class="seat">1</div>
      <div class="seat">2</div>
      <div class="seat">3</div>
      <div class="seat">4</div>
      1
      <div class="seat">5</div>
      <div class="seat">6</div>
      <div class="seat">7</div>
      <div class="seat">8</div>
    </div>
    <div class="standing">
      <label for="standingAmount">Standing</label>
      <input type="number" id="standingAmount">
    </div>
    <div class="stage">Stage</div>
  </div>

  <div class="stage-legend">
    <div>
      <div class="seat"></div> Sector A (25€)
    </div>
    <div>
      <div class="standing-icon"></div> Sector B (15€)
    </div>
    <div>
      <div class="seat-taken"></div> Seat is taken
    </div>
    <div>
      <div class="seat-chosen"></div>
      <div>
        <div>Chosen tickets </div>
        <div>2 tickets chosen</div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 d-flex flex-row center-stage">
  <button type="button" class="btn btn-danger">
    <i class="bi bi-trash"></i>
    Delete
  </button>
  <span class="flex-grow-1"></span>
  <div>Total price: 50€</div>
  <button type="submit" class="btn btn-primary margin">
    Reserve
  </button>
  <button type="submit" class="btn btn-primary margin">
    Buy
  </button>
</div>
-->
