<footer>
  <div>
    <div id="company-information">
      <div>
        <span><i class="bi bi-map"></i></span>
        <span>1040 Vienna, Austria</span>
      </div>
      <div>
        <span><i class="bi bi-telephone"></i></span>
        <span>+43 1 588010</span>
      </div>
    </div>
    <ul id="socials">
      <li><a href="#"><i class="bi bi-facebook"></i></a></li>
      <li><a href="#"><i class="bi bi-twitter"></i></a></li>
      <li><a href="#"><i class="bi bi-instagram"></i></a></li>
      <li><a href="#"><i class="bi bi-youtube"></i></a></li>
      <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
    </ul>
    <div id="copyright">
      Copyright ©2023 FKHTKG Group
    </div>
  </div>
</footer>
