<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card shadow">
        <div class="card-header">
          <h3 class="mb-0">Set New Password</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="passwordForm">

            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Password">
              <div *ngIf="submitted && passwordForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordForm.controls.password.errors.required">Your password
                  is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="passwordForm.controls.password.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmation">Confirm New Password</label>
              <input type="password" name="confirmation" formControlName="confirmation" class="form-control" id="confirmation"
                     placeholder="Confirm Password">
              <div *ngIf="submitted && passwordForm.controls.confirmation.errors" class="error">
                <small class="form-text text-warning" *ngIf="passwordForm.controls.confirmation.errors.required">Please
                  confirm your password!
                </small>
                <small class="form-text text-warning" *ngIf="passwordForm.controls.confirmation.errors.minlength">Your password
                  must be at least 8 characters long!
                </small>
              </div>
            </div>

            <button type="submit" (click)="setNewPassword()" class="btn btn-success float-right">Set New Password</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>
